language: ruby
rvm:
  - 2.5.5
gemfile:
  - gemfiles/rails_3.gemfile
  - gemfiles/rails_4.gemfile
  - gemfiles/rails_5.gemfile
  - gemfiles/rails_6.gemfile
before_install:
  - gem install -v 1.17.3 bundler --no-rdoc --no-ri
  - bundle _1.17.3_ install
script: "rspec spec"